.ingredients__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/lsancho-es/image/upload/v1619884257/wkom7ziyyxdjhczvfbzo.png");
    background-color: $light-grey;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: left bottom;
    box-shadow: 0px 3px 20px  $primary-low;
    color: $dark-grey;
    overflow: hidden;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.ingredients__title{
    
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    z-index: 2;
}


.ingredients__misc{
    
    width: 33%;
    text-align: center;
    height: 90vh;
    overflow: hidden;
    z-index: 2;
}
.ingredients__list{
    margin-top: 1rem;
    font-size: 1.5rem;
    z-index: 2;
    
    &:nth-child(2){
        margin-top: 4rem;
    }
    &:nth-child(3){
        margin-top: 4rem;
    }
}

@media (max-width:768px){

    .ingredients__container{

        height: 100%;

        background-size: 40%;
        background-position: right bottom;
        
        padding: 2rem;

    }
    .ingredients__misc{
    
        height: 100%;

    }
    .ingredients__list{
        margin-top: 1rem;
        font-size: 1.5rem;
        z-index: 2;
        
        &:nth-child(2){
            margin-top: 1rem;
        }
        &:nth-child(3){
            margin-top: 2rem;
        }
    }

}

