.random__bar{
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 20vh;
    background-color: black;
    border-top: 3px solid $light-grey;
    border-left: 4px solid $light-grey;
    border-right: 5px solid $light-grey;
    border-bottom: 3px solid darken($color: $light-grey, $amount: 10) ;
    box-shadow: 0px 3px 20px  $primary;
    filter: blur(0.1px);
    border-radius: 0px 0px 10px 10px;
    margin-left: auto;
    margin-right: auto;

}

.random__button{

    padding: 2rem;
    border: 2px solid $primary-low;
    border-radius: 25px;
    background-color: transparent;
    color: lighten($color: $primary, $amount: 10) ;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 1px 1px 1px $primary-low;
    transition: all 0.3s;

    
    &:hover{
        border: 2px solid $primary;
        box-shadow: 0px 0px 10px $primary ;
    }

}