.random__bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6rem;
    background-color: $dark-grey;
    border-top: 3px solid $light-grey;
    border-bottom: 3px solid black;
    filter: blur(0.5px);
}

.random__button{

    padding: 1rem;
    border: 2px solid $primary-low;
    border-radius: 12px;
    background-color: transparent;
    color: lighten($color: $primary, $amount: 10) ;
    transition: all 500ms;

    &:hover{
        border: 2px solid $primary;
        box-shadow: 0px 0px 10px $primary inset;
    }

}